


        <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
            <a class="navbar-brand" routerLink="addtask">TODOLIST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav" style="margin-right: -200px;">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="addtask" routerLinkActive="active-link">Home</a>
                    </li>
                    <li class="nav-item" *ngFor="let c of category">
                        <a class="nav-link" [routerLink]="['/todo/', c]" >{{c}}</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><span class="nav-link">Total : <span class="totalcount">{{totalTaskCount}}</span></span></li>
                    <li class="nav-item"><span class="nav-link">pending : <span class="pendingcount">{{pendingTaskCount}}</span></span></li>
                    <li class="nav-item"><span class="nav-link">Completed : <span class="completedcount">{{completedTaskCount}}</span></span></li>
                </ul>
            </div>
        </nav>



<div class="main-content">
    <router-outlet></router-outlet>
</div>
